@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-600: #0ea5e9; /* Default Sky-500 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}

body {
  @apply text-slate-800;
}
